<footer>
    <div class="footer-container">
        <a href="/" class="link">Blogga</a>
        <a href="/users" class="link">Users</a>
        <a href="/posts" class="link">Posts</a>
        <a href="/about" class="link">About</a>
    </div>
    <div class="footer-container">

        <a class="link" href="#">by MP</a>
    </div>
</footer>