<div class="header-container">
    <div class="login-zone">
        <% if(!sessUser){   %>
            <button id="log-btn" class="button">LOG IN</button>
        <% } else {   %>
            <a href="/logout"><button id="logout-btn" class="button">LOG OUT</button></a>
            <div class="user-box">
                <p>Welcome <%= sessUser %></p>
                <a href="/profile"> My profile </a>
            </div>
        <% } %>
    
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>