<div class="header-container">
  <div class="login-zone">
    <a class="logo" href="/">Blogga</a>
    <% if(!sessUser){ %>
    <button id="log-btn" class="button">LOG IN</button>
    <button id="register-btn" class="button">REGISTER</button>
    <% } else { %>

    <div class="user-box">
      <div>Welcome <%= sessUser %></div>
      <div class="user-box_container">
        <a class="user-box_item" href="/profile"> My profile </a>
        <a class="user-box_item" id="logout-btn" href="/logout">Log out</a>
      </div>
    </div>
    <% } %>
  </div>
  <nav class="navbar">
    <ul>
      <li><a class="button-secondary" href="/users">Users</a></li>
      <li><a class="button-secondary" href="/posts">Posts</a></li>
      <li><a class="button-secondary" href="/about">About</a></li>
    </ul>
  </nav>
</div>
