<nav class="header">
  <a class="logo" href="/">Blogga</a>
  <input type="checkbox" id="hamburger" />
  <label id="menu-button-container" for="hamburger">
    <div class="menu-button"></div>
  </label>
  <div class="menu">
    <div class="item-container">
      <a class="button-secondary" href="/users">Users</a>
      <a class="button-secondary" href="/posts">Posts</a>
      <a class="button-secondary" href="">About</a>
    </div>
    <% if(sessUser) { %>
    <span class="welcome">Welcome <br> <%= sessUser %></span>
    <div class="item-container">
      <a class="button" href="/profile">PROFILE</a>
      <a class="button" href="/logout">LOGOUT</a>
    </div>
    <% } else {%>
    <div class="item-container">
      <button class="button" id="log-btn">LOGIN</button>
      <button class="button" id="register-btn">REGISTER</button>
    </div>
    <%} %>
  </div>
</nav>
