
    <div class="options-item">

        <form>
            <h2>Change Password</h2>
            <div id="pass-change-container" class="fields">
                <label for="">Current Password:</label>
                <input type="password" autocomplete="current-password" name="current-password">
                <label for="">New Password:</label>
                <input type="password" autocomplete="new-password" name="new-password">
                <label for="">Confirm Password:</label>
                <input type="password" autocomplete="new-password" name="confirm-password">
                <button class="button" id="change-password" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>

