
    <div class="options-item">

        <form>
            <h2>Change Password</h2>
            <div class="fields">
                <label for="">Current Password:</label>
                <input type="password" autocomplete="current-password" name="current-password">
                <label for="">New Password:</label>
                <input type="password" autocomplete="new-password" name="new-password">
                <label for="">Confirm Password:</label>
                <input type="password" autocomplete="new-password" name="confirm-password">
                <button class="button" type="submit">SUBMIT</button>
            </div>
        </form>
        <div class="centered-container">
            <h2>Change your nick name</h2>
            <div class="fields">
               <label for="">Your current nick:</label>
               <input type="text" name="oldNick">
               <label for="">Your new nick:</label>
               <input type="text" name="newNick">
               <button type="submit" class="button">SUBMIT</button>
            </div>
        </div>
    </div>

