<div class="container">
    <h4 class="heading_middle hero-heading_sm">Newest Posts: </h4>
    <% if(posts){ %> <% posts.forEach(post=>{ %>
        <div class="post">
          <a href="/post<%= post.title%>"> <%= post.title %> </a>
          <span><%= post.meta.postedOn.toString().slice(0, 34) %></span>
        </div>
        <% }) %> <% } %>

  
</div>
