
<% if(posts.length > 0){ %>
    <div class="newest">
    <h2 class="heading_small">Newest posts</h2>
    <div class="posts">
        <% posts.forEach(post => { %>
            <a href="/post/<%= post.title %>" class="post-card bg-arrows">
                <span><%= post.title %></span>
                <span>by <%= post.meta.author.user %></span>
            </a>
        <% })} %>
    
    </div>
</div>