.form-container {
  position: absolute;
  min-width: 100vw;
  min-width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: var(--colorMainAlpha50);
  z-index: 500;
}
form {
  background-color: var(--color2);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  padding: 1rem;
}
.fields {
  display: flex;
  flex-direction: column;
}
.fields > * {
  padding: 1rem;
}
.fields > button,
a {
  margin-top: 1rem;
  font-weight: bold;
}
.fields > a {
  transition: all 150ms ease-in;
  border-radius: 5px;
}
.fields > a:hover {
  color: var(--colorHover);
  background-color: var(--colorText);
  box-shadow: 0rem 0rem 1rem var(--colorText);
  scale: 1.05;
}
.fields > input {
  color: var(--colorMain);
}
