.form-container {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: var(--colorMainAlpha50);
  z-index: 500;
}
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
}
form, .list-container  {
  background-color: var(--color2);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  padding: 1rem;
}
.post-form {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height:90vh;
  max-height: 90dvh;
  max-width: 90vw;
  max-width: 90dvw;
}
.fields {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  min-width: 30dvw;
}
.fields > label {
  user-select: none;
}
.fields > textarea {
  max-width: 80vw;
  max-width: 80dvw;
  min-width: 40vw;
  min-width: 40dvw;
  color: var(--colorMain);
}
.fields > * {
  padding: 1rem;
}
.fields >h4, form > h2 {
  border-radius: 5px;
  transition: opacity 300ms ease;
}
.fields > button,
a {
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
.fields > a {
  transition: all 150ms ease-in;
  border-radius: 5px;
}
.fields > a:hover {
  color: var(--colorHover);
  background-color: var(--colorText);
  box-shadow: 0rem 0rem 1rem var(--colorText);
  scale: 1.05;
}
.fields > input {
  color: var(--colorMain);
}
.err-span {
  display: block;
  padding: 1rem;
  background-color: var(--colorErr);
  width: 100%;
  text-align: center;
  border-radius: 5px;
  border: 2px solid red;
  font-weight: bold;
}
