#hamburger:checked + #menu-button-container + .menu {
  height: calc(100dvh - var(--headerH));
}
#hamburger:checked + #menu-button-container .menu-button::before {
  margin-top: 0rem;
  transform: rotate(135deg);
}
#hamburger:checked + #menu-button-container .menu-button::after {
  margin-top: 0rem;
  transform: rotate(-135deg);
}
#hamburger:checked + #menu-button-container .menu-button {
height: 0;
transform: translateX(-100%);
}
#menu-button-container {
  height: 100%;
  width: 40px;
  position: relative;
}
#hamburger {
  display: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--headerH);
  background-color: var(--colorMain);
  padding: 1rem;
  box-shadow: 0rem 0rem 1rem var(--colorMain);
}
div.menu {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(var(--headerH));
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--colorMainAlpha);
  overflow: hidden;
  transition: height 150ms ease-in;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  position: absolute;
  height: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  background-color: var(--colorText);
  transition: var(--transition);
}
.menu-button::before {
  content: "";
  margin-top: -0.65rem;
}
.menu-button::after {
  content: "";
  margin-top: 0.65rem;
}
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.item-container > * {
  width: 80%;
  text-align: center;
  margin: 0.2rem 0rem !important;
  flex-grow: 4;
}
.welcome {
  text-align: center;
  align-self: center;
  font-weight: bold;
  line-height: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
}
@media screen and (min-width: 840px) {
  #menu-button-container {
    display: none;
  }
div.menu {
    height: auto !important;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    transform: translateY(- var(--headerH));
    background-color: inherit;
  }
  .item-container {
    flex-direction: row; 
    gap: 1rem;
  }
  

}
@media screen and (min-width: 1020px) {
    div.menu {
        justify-content: space-around;
    }
}
@media screen and (min-width: 840px) {
  .welcome {
    font-size: 1rem;
  }
}