@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url(header.css);
@import url(users.css);
@import url(form.css);
@import url(profile.css);
:root {
  --colorMain: rgb(20, 20, 20);
  --colorMainAlpha50: rgba(20, 20, 20, 0.5);
  --colorHover: #279af1;
  --colorBackground: #403f4c;
  --colorText: rgb(225, 225, 225);
  --color1: #44425c;
  --color2: rgb(138, 136, 167);
  --color2Alpha50: 	rgba(138, 136, 167, 0.8);
  --color3: #7898b5;
  --colorErr: rgba(186, 51, 51, 0.693);
  --headerH: 5.5rem;
  --footerH: 5rem;
  --wrapperH: calc(100vh - calc(var(--footerH) + var(--headerH)));
  --boxShadow: 0 0 1rem var(--colorMain);
  --transition: all 150ms ease-in;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: var(--colorText);
  list-style: none;
}
html,
body {
  min-width: 350px;
  background-color: var(--colorBackground);
}
.overflowY-hidden {
  overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rowdies", cursive;
}
h4 {
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:12rem;
}
.heading_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding:6rem 0rem;
}
.hero-container {
  min-height: calc(100dvh - var(--headerH));
}
.hero-heading {
  padding-bottom: 4rem;
  font-size: 4rem;
}
.hero-heading_sm {
  font-size: 2rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}
.logo {
  padding: 1rem;
  font-family: "Rowdies";
  font-weight: bold;
  font-size: 2rem;
  background-color: var(--colorHover);
  color: var(--colorText);
  border-radius: 5px;
  margin: 0rem 1rem;
  transition: var(--transition);
  height: fit-content;
}
.logo:hover, .logo:active {
  color:var(--colorHover);
  background-color: var(--colorText);
  box-shadow: 0rem 0rem 1rem var(--colorText);
}
.button {
  user-select: none;
  border: 0px;
  white-space: nowrap;
  height: 3rem;
  min-width: 10ch;
  background-color: var(--colorText);
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Rowdies";
  margin: 0rem 0.2rem;
  color: var(--colorHover);
  border-radius: 5px;
  transition: var(--transition);
  transform: translateY(0px);
}
.button:hover, .button:active {
  box-shadow: 0rem 0rem 0.5rem var(--colorHover);
  transform: translateY(-2.5px) scale(1.05) rotateX(5deg);
  background-color: var(--colorHover);
  color: var(--colorText);
}

.button-secondary {
  user-select: none;
  border: 0px;
  white-space: nowrap;
  background-color: var(--color3);
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--colorText);
  border-radius: 5px;
  transition: var(--transition);
  transform: translateY(0px);
}
.button-secondary:hover, .button-secondary:active {
  transform: translateY(-5px) scale(1.05) rotateX(5deg);
  box-shadow: 0rem 0rem 0.5rem var(--colorHover);
  background-color: var(--colorHover);
  color: var(--colorText);
}


.skewed {
  min-height: 125px;
  min-width: 100%;
  background-color: var(--color3);
  transform: skewY(3deg) translateY(-3.79rem);
  position: absolute;
  box-shadow: 0rem 0rem 1rem var(--colorMain);
  z-index: 1;
}

/* width */
::-webkit-scrollbar {
  color: var(--colorMain);
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colorMain);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color2);
  border: solid var(--colorMain) 0.15rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorHover);
}
#add-btn, #add-friend {
  width: fit-content;
  margin: 1rem;
}

#log-in-heading {
  align-self: center;
}
@media screen and (max-width: 1080px) {
  
  .post-container {
    display: block;
  }
  .post-form {
    width: auto;
  }
  .post-fields {
    flex-direction: column;
  }
}
