@import url(header.css);
@import url(form.css);
@import url(users.css);
@import url(profile.css);
@import url(posts.css);
@import url(postForm.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
:root {
  --colorMain: rgb(20, 20, 20);
  --colorMainAlpha50: rgba(20, 20, 20, 0.5);
  --colorHover: #279af1;
  --colorBackground: #403f4c;
  --colorText: rgb(225, 225, 225);
  --color1: #44425c;
  --color2: #8a88a7;
  --color3: #7898b5;
  --colorErr: rgba(186, 51, 51, 0.693);
  --headerH: 5.5rem;
  --footerH: 5rem;
  --wrapperH: calc(100vh - calc(var(--footerH) + var(--headerH)));
  --boxShadow: 0 0 1rem var(--colorMain);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: var(--colorText);
  list-style: none;
}
html,
body {
  min-width: 500px;
  background-color: var(--colorBackground);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rowdies", cursive;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}
.heading_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.hero-heading {
  font-size: 4rem;
}
.hero-heading_sm {
  font-size: 2rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.button {
  user-select: none;
  border: 0px;
  white-space: nowrap;
  height: 3rem;
  min-width: 10ch;
  background-color: var(--colorText);
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0rem 0.2rem;
  color: var(--colorHover);
  border-radius: 5px;
  transition: all 150ms ease;
  transform: translateY(0px);
}
.button:hover {
  box-shadow: 0rem 0rem 0.5rem var(--colorHover);
  transform: translateY(-2.5px) scale(1.05) rotateX(5deg);
  background-color: var(--colorHover);
  color: var(--colorText);
}
.button-secondary:active {
  background-color: rgb(92, 90, 143);
}
.button-secondary {
  user-select: none;
  border: 0px;
  white-space: nowrap;
  height: 3rem;
  min-width: 10ch;
  background-color: var(--color3);
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 0rem 0.2rem;
  color: var(--colorText);
  border-radius: 5px;
  transition: all 150ms ease;
  transform: translateY(0px);
}
.button-secondary:hover {
  transform: translateY(-5px) scale(1.05) rotateX(5deg);
  box-shadow: 0rem 0rem 0.5rem var(--colorHover);
  background-color: var(--colorHover);
  color: var(--colorText);
}
.button:active {
  background-color: rgb(92, 90, 143);
}
.container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  min-height: var(--wrapperH);
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.item > *:hover {
  background-color: var(--colorHover);
}
.bg {
  background-image: url("../img/people-gabace98e1_1920.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.panel {
  min-height: var(--wrapperH);
  background-color: var(--colorMainAlpha50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel p {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  background-color: var(--color2);
  border-radius: 5px;
  box-shadow: var(--boxShadow);
}
.panel a {
  margin-top: 3rem;
}
.panel img {
  margin: 3rem 0rem;
  height: auto;
  max-height: 500px;
}

/* width */
::-webkit-scrollbar {
  color: var(--colorMain);
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colorMain);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color2);
  border: solid var(--colorMain) 0.15rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorHover);
}

@media screen and (max-width: 1080px) {
  .wrapper {
    width: 100%;
  }
  .post-container {
    display: block;
  }
  .post-form {
    width: auto;
  }
  .post-fields {
    flex-direction: column;
  }
}
