@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

:root {
  --colorMain: rgb(20, 20, 20);
  --colorMainAlpha: rgba(20, 20, 20, 0.9);
  --colorHover: #279af1;
  --colorBackground: #403f4c;
  --colorText: rgb(224, 224, 224);
  --color1: #44425c;
  --color2: rgb(138, 136, 167);
  --color2Alpha50: rgba(138, 136, 167, 0.8);
  --color3: #7898b5;
  --colorErr: rgba(186, 51, 51, 0.693);
  --headerH: 5.5rem;
  --footerH: 12rem;
  --wrapperH: calc(100vh - calc(var(--footerH) + var(--headerH)));
  --boxShadow: 0 0 1rem var(--colorMain);
  --transition: all 150ms ease-in;
  --colorCross: #403f4c;
  --colorArrowsA: #2678b63b;
  --colorArrowsB: #359be973;
  --colorHourGlass: rgb(82, 81, 100);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: var(--colorText);
  list-style: none;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-width: 350px;
  background-color: var(--colorBackground);
  min-height: 100%;
}
body > *:nth-last-child(3) {
  padding-bottom: calc(2 * var(--footerH));
}
.overflowY-hidden {
  overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rowdies", cursive;
  text-align: center;
}
h4 {
  padding: 1rem;
  font-size: 1.4rem;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
}
.heading_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 6rem 0rem;
}
.heading_small {
  font-size: 1.5rem;
  padding: 2rem;
}
.hero-container {
  position: relative;
  height: calc(100vh - var(--headerH));
  height: calc(100dvh - var(--headerH));
}
.bg-arrows {
  background-color: var(--colorBackground);
  background-image: linear-gradient(
      45deg,
      var(--colorArrowsB) 0.5rem,
      transparent 0.5rem
    ),
    linear-gradient(-45deg, var(--colorArrowsA) 0.25rem, transparent 0.5rem),
    linear-gradient(135deg, var(--colorArrowsB) 0.5rem, transparent 0.5rem),
    linear-gradient(-135deg, var(--colorArrowsA) 0.25rem, transparent 0.5rem);
  background-position: 2.5rem 5rem, 5rem 2.5rem, 2.5rem 5rem, 5rem 2.5rem;
  background-size: 5rem 5rem;
  background-repeat: repeat;
  background-attachment: fixed;
}
.bg-funnyshape {
  background-color: var(--colorBackground);
  background-image: linear-gradient(
      -135deg,
      var(--colorHourGlass) 1.5rem,
      transparent 1.5rem
    ),
    linear-gradient(45deg, var(--colorArrowsA) 1.5rem, transparent 0),
    linear-gradient(90deg, var(--colorArrowsA) 0.5rem, transparent 0rem),
    linear-gradient(90deg, var(--colorHourGlass) 0.5rem, transparent 0rem);
  background-position: 1rem 5.75rem, 2.5rem, 1.25rem, 1.75rem;
  background-size: 5rem 5rem;
  background-attachment: fixed;
  background-repeat: repeat;
}
.bg-cross {
  background-color: var(--color1);
  background-attachment: fixed;
  background-image: radial-gradient(
      circle,
      transparent 1rem,
      var(--color1) 1rem
    ),
    linear-gradient(var(--colorCross) 0.5rem, transparent 0.5rem),
    linear-gradient(90deg, var(--colorCross) 0.5rem, transparent 0.5rem);
  background-size: 5rem 5rem;
  background-repeat: repeat;
  background-position: 5.25rem 5.25rem, 2.5rem 2.5rem, 2.5rem 2.5rem;
}
.hero-heading {
  padding: 3rem 1rem;
  font-size: 3rem;
}
.hero-heading_sm {
  padding: 2rem 1rem;
  font-size: 1.5rem;
}
.cta {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 4rem 0rem;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0rem 1rem var(--color2);
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}
.logo {
  padding: 1rem;
  font-family: "Rowdies";
  font-weight: bold;
  font-size: 2rem;
  background-color: var(--colorHover);
  color: var(--colorText);
  border-radius: 5px;
  margin: 0rem 1rem;
  transition: var(--transition);
  height: fit-content;
}
.logo:hover,
.logo:active {
  color: var(--colorHover);
  background-color: var(--colorText);
  box-shadow: 0rem 0rem 1rem var(--colorText);
}
.button {
  user-select: none;
  border: 0px;
  white-space: nowrap;
  height: 3rem;
  min-width: 10ch;
  background-color: var(--colorText);
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Rowdies";
  margin: 0rem 0.2rem;
  color: var(--colorHover);
  border-radius: 5px;
  transition: var(--transition);
  transform: translateY(0px);
}
.button:hover,
.button:active {
  box-shadow: 0rem 0rem 0.5rem var(--colorHover);
  transform: translateY(-2.5px) scale(1.05) rotateX(5deg);
  background-color: var(--colorHover);
  color: var(--colorText);
}

.button-secondary {
  user-select: none;
  border: 0px;
  white-space: nowrap;
  background-color: var(--color3);
  cursor: pointer;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--colorText);
  border-radius: 5px;
  transition: var(--transition);
  transform: translateY(0px);
}
.button-secondary:hover,
.button-secondary:active {
  transform: translateY(-5px) scale(1.05) rotateX(5deg);
  box-shadow: 0rem 0rem 0.5rem var(--colorHover);
  background-color: var(--colorHover);
  color: var(--colorText);
}

.calf {
  min-height: 10rem;
}
.newsletter {
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorMainAlpha);
  box-shadow: 0rem 0rem 1rem var(--colorMain);
  margin: 1rem 0rem;
}
.newsletter > input,
label {
  padding: 1rem;
  font-weight: bold;
}

.newsletter > * {
  margin: 1rem;
}
.newsletter > input {
  color: var(--colorMain);
}
.spacing {
  height: 100px;
}
.newest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  width: auto;
}
.posts {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  min-height: 200px;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--color3);
  font-weight: bold;
  transition: var(--transition);
  margin: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-card > span:nth-child(n + 2) {
  text-align: end;
}
.post-card:hover,
.post-card:active {
  background-color: var(--colorHover);
  scale: 1.1;
  box-shadow: 0rem 0rem 1rem var(--colorHover);
}
/* width */
::-webkit-scrollbar {
  color: var(--colorMain);
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colorMain);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color2);
  border: solid var(--colorMain) 0.15rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorHover);
}
#add-btn,
#add-friend {
  width: fit-content;
  margin: 1rem;
}

#log-in-heading {
  align-self: center;
}
@media screen and (min-width: 800px) {
  .posts {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .post-card {
    min-width: 200px;
  }
}
@media screen and (min-width: 1080px) {
  .post-card {
    min-width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .post-card {
    min-width: 300px;
  }
}

@media screen and (max-width: 1080px) {
  .post-container {
    display: block;
  }
  .post-form {
    width: auto;
  }
  .post-fields {
    flex-direction: column;
  }
  .heading_middle {
    padding: 4rem 0rem;
  }
  .newsletter {
    flex-direction: column;
  }
}
