.options-container {
  padding: 1.5rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: var(--color1);
}
.options-item {
  height: fit-content;
  padding: 1rem;
}
.options-item > div,
form {
  background-color: var(--colorBackground);
  box-shadow: none;
  border: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorBackground);
  width: 100%;
  margin-bottom: 0.1rem;
}
.friend {
  padding: 0.5rem;
  width: 20ch;
  overflow: hidden;
  border-radius: 5px;
}
.del-friend,
.edit-post,
.del-post,
.mini > a {
  font-weight: bold;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 5px;
  transition: all 150ms ease;
}

.friend:hover {
  background-color: var(--colorHover);
}
.del-friend:hover,
.edit-post:hover,
.del-post:hover,
.mini > a:hover {
  background-color: var(--colorHover);
}
.options-item > form,
.options-item > div {
  box-shadow: var(--boxShadow);
}
.options-item h2 {
text-align: center;
}
.add-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--color1);
  z-index: 10000;
  border: solid var(--colorMain) 0.2rem;
  box-shadow: 0 0 1rem var(--colorMain);
}
.add-friend > * {
  padding: 1rem;
  margin: 0.3rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--colorMain);
}
.del-friend:hover {
  cursor: pointer;
}
#add-friend, #add-btn {
  margin-top: 0.5rem;
}