.user-list {
    padding: 1rem 1rem;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(min-content, max-content);
    
}

.user {
    box-shadow: 0 0 1rem black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color2);
   width: 100%;
}
.user a {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}
.user span {

    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
}
.user a:hover, .user span:hover {
    color: white;
    background-color: var(--colorHover);
    cursor: pointer;
}

.user p {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}