<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
  <%- include('../partials/header'); %>
  <section><h2>about blogga</h2></section>
  <%- include('../partials/footer'); %>
</body>
<script  src="/static/script.js" type="module" defer></script>

</html>
