<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
<div class="wrapper">
    <div  class="sub-header">
         <H1>Blogga</H1>
    </div>
    <div class="panel">
        <p>Blogga &#8482; is a majestic blogging site where it's beautiful community shares their ideas, dreams and spreads the love. </p>

        <a href="#">Contact us...</a>
        <img src="/static/img/people-gabace98e1_1920.jpg" alt="">
    </div>
    
</div>
</body>
<script src="/static/script.js" type="module"></script>
</html>