<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="wrapper">
      <div class="bg">
        <div class="panel">
          <p>
            Blogga &#8482; is a majestic blogging site where it's beautiful
            community <br> shares their ideas, dreams and spreads the love.
          </p>
          <a class="button" href="#">Contact us...</a>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); -%>
  </body>
  <script src="/static/script.js" type="module"></script>
</html>
