<html lang="en">
<head>
    <%- include('../partials/head'); -%>
</head>

<body>

    <%- include('../partials/header');  -%>
  <div class="wrapper">
      
    <div class="sub-header">
        <h1>Welcome to Blogga</h1>
        <h2>A place to share your thoughts.</h3>
    </div>
        <div class="index-div">
           <img src="/static/img/pencil-g8b86dd565_1920.jpg" alt="">
        </div>

  </div>
</body>
<script  src="/static/script.js" type="module" defer></script>

</html>
