<html lang="en">
<head>
    <%- include('../partials/head'); -%>
</head>

<body>

    <%- include('../partials/header');  -%>
  
</body>
<script src="/static/script.js" type="module"></script>

</html>
