<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <%- include('../partials/header'); -%>
    <h3 class="heading_middle">User List</h3>
    <section class="grid-container">
      <% users.forEach(user => { %>

      <div class="grid_item">
        <a class="user" href="/user/<%= user.user %>">
          <span><%= user.user %></span>
        </a>
        <% if(sessUser){ %>
        <div class="tool-box">
          <% if(user.displayBefriend === true){%>
          <span class="follow befriend">Follow</span>
          <% } else { %>
          <span class="unfollow del-friend">Unfollow</span>
          <% } %>
        </div>
        <% } %>
        <!-- fix adding posts array in user model -->
      </div>

      <% }) %>
    </section>
  </body>
  <script src="/static/script.js" type="module" defer></script>
</html>
